# Output files
Build/*.i
Build/*.s
Build/*.ld
*.o
*.elf
*.dol
*.rel
*.img
*.wad
*.map
*.yaz0
*.bmg
*.lz

# Tools
tools/*
*.exe

# Various other detritus that doesn't need to be tracked
Thumbs.db
*.dump
